<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>crid</th>
      <th>name</th>
      <th>college</th>
      <th>marks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AK220217</td>
      <td>3036_sheshnaag</td>
      <td>Easwari Engineering college</td>
      <td>205</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AK220166</td>
      <td>saravana</td>
      <td>Velammal College of Engineering and Technology</td>
      <td>195</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AK220127</td>
      <td>sushma</td>
      <td>Vidyavardhaka College of Engineering Mysore</td>
      <td>195</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AK220099</td>
      <td>satyajeet</td>
      <td>NIT ROURKELA</td>
      <td>190</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AK220622</td>
      <td>053_dhruv</td>
      <td>National Institute of Technology, Srinagar</td>
      <td>175</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AK220541</td>
      <td>nikita4</td>
      <td>Bennett University</td>
      <td>160</td>
    </tr>
    <tr>
      <th>6</th>
      <td>AK220252</td>
      <td>vikram_singh</td>
      <td>Mbm Engineering College Jodhpur</td>
      <td>145</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AK220507</td>
      <td>mehak</td>
      <td>KC College</td>
      <td>135</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AK220125</td>
      <td>atharva_kusurkar</td>
      <td>Datta Meghe College of Engineering</td>
      <td>130</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AK220232</td>
      <td>dip</td>
      <td>Indian Institute of Information technology Bhagalpur</td>
      <td>120</td>
    </tr>
    <tr>
      <th>10</th>
      <td>AK220143</td>
      <td>zerik</td>
      <td>Rajkiye Engineering College</td>
      <td>100</td>
    </tr>
    <tr>
      <th>11</th>
      <td>AK220515</td>
      <td>biswajeet</td>
      <td>National Institute of Technology, Rourkela</td>
      <td>85</td>
    </tr>
    <tr>
      <th>12</th>
      <td>AK220493</td>
      <td>padmini_devi</td>
      <td>international school of technology and sciences</td>
      <td>85</td>
    </tr>
    <tr>
      <th>13</th>
      <td>AK220754</td>
      <td>suraj1</td>
      <td>Jspm's Imperial College of Engineering and Research Wagholi. Pune</td>
      <td>80</td>
    </tr>
    <tr>
      <th>14</th>
      <td>AK220755</td>
      <td>anisha</td>
      <td>Jspm's Imperial College of Engineering and Research Wagholi. Pune</td>
      <td>80</td>
    </tr>
    <tr>
      <th>15</th>
      <td>AK220288</td>
      <td>sumit</td>
      <td>Mahatma Gandhi Mission's College of Engineering and Technology</td>
      <td>80</td>
    </tr>
    <tr>
      <th>16</th>
      <td>AK220565</td>
      <td>3268_vaishnavi</td>
      <td>Bharati vidyapeeth's college of engineering for women's, pune</td>
      <td>70</td>
    </tr>
    <tr>
      <th>17</th>
      <td>AK220577</td>
      <td>somil_mishra</td>
      <td>Vellore Institute of technology</td>
      <td>70</td>
    </tr>
    <tr>
      <th>18</th>
      <td>AK220700</td>
      <td>the_qatin</td>
      <td>Shri Shankaracharya College Of Pharmaceutical sciences</td>
      <td>70</td>
    </tr>
    <tr>
      <th>19</th>
      <td>AK220343</td>
      <td>swapnali_sanjay</td>
      <td>Shri Guru Gobind Singhji Institute of Engineering and Technology</td>
      <td>70</td>
    </tr>
    <tr>
      <th>20</th>
      <td>AK220524</td>
      <td>3340_rupali</td>
      <td>Bharati Vidyapeeth's College of engineering for women's pune</td>
      <td>70</td>
    </tr>
    <tr>
      <th>21</th>
      <td>AK220657</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>70</td>
    </tr>
    <tr>
      <th>22</th>
      <td>AK220070</td>
      <td>mohit</td>
      <td>Shri Guru Gobind Singhji Institute of Engineering and Technology, Nanded</td>
      <td>70</td>
    </tr>
    <tr>
      <th>23</th>
      <td>AK220380</td>
      <td>rutik3</td>
      <td>Sharadchandra pawar college of engineering and technology</td>
      <td>70</td>
    </tr>
    <tr>
      <th>24</th>
      <td>AK220242</td>
      <td>sushma4</td>
      <td>Dr. D Ramanaidu vignana jyothi agriculture engineering polytechnic</td>
      <td>70</td>
    </tr>
    <tr>
      <th>25</th>
      <td>AK220548</td>
      <td>shreyas</td>
      <td>Terna Engineering College</td>
      <td>70</td>
    </tr>
    <tr>
      <th>26</th>
      <td>AK220068</td>
      <td>deepanshu</td>
      <td>Deen Bandhu Chhotu Ram University of Science and Technology</td>
      <td>65</td>
    </tr>
    <tr>
      <th>27</th>
      <td>AK220052</td>
      <td>dikshant</td>
      <td>Thapar Institute of Engineering and Technology</td>
      <td>65</td>
    </tr>
    <tr>
      <th>28</th>
      <td>AK220600</td>
      <td>naina</td>
      <td>Sanskriti University</td>
      <td>60</td>
    </tr>
    <tr>
      <th>29</th>
      <td>AK220543</td>
      <td>praveen6</td>
      <td>Loyola institute of technology</td>
      <td>60</td>
    </tr>
    <tr>
      <th>30</th>
      <td>AK220607</td>
      <td>avishek</td>
      <td>NIT Warangal</td>
      <td>60</td>
    </tr>
    <tr>
      <th>31</th>
      <td>AK220678</td>
      <td>21ec005_pratham</td>
      <td>CHARUSAT</td>
      <td>55</td>
    </tr>
    <tr>
      <th>32</th>
      <td>AK220396</td>
      <td>mohan</td>
      <td>Paavai Engineering College</td>
      <td>55</td>
    </tr>
    <tr>
      <th>33</th>
      <td>AK220147</td>
      <td>arpit7</td>
      <td>Jd college  of engineering</td>
      <td>50</td>
    </tr>
    <tr>
      <th>34</th>
      <td>AK220389</td>
      <td>nimish</td>
      <td>NMIMS MUMBAI</td>
      <td>50</td>
    </tr>
    <tr>
      <th>35</th>
      <td>AK220604</td>
      <td>kunal2</td>
      <td>Pimpri Chinchwad college of engineering pune</td>
      <td>50</td>
    </tr>
    <tr>
      <th>36</th>
      <td>AK220508</td>
      <td>rajan</td>
      <td>ORIENTAL COLLGEE OF TECHNOLOGY</td>
      <td>50</td>
    </tr>
    <tr>
      <th>37</th>
      <td>AK220562</td>
      <td>shivangi</td>
      <td>Indian Institute of Technology Kharagpur</td>
      <td>50</td>
    </tr>
    <tr>
      <th>38</th>
      <td>AK220528</td>
      <td>somaksh</td>
      <td>College Of Vocational Studies, Delhi University</td>
      <td>45</td>
    </tr>
    <tr>
      <th>39</th>
      <td>AK220410</td>
      <td>sudhanshu</td>
      <td>R.L.S.Y. Collage Muzaffarpur</td>
      <td>45</td>
    </tr>
    <tr>
      <th>40</th>
      <td>AK220531</td>
      <td>kavya5</td>
      <td>Indraprastha College For Women</td>
      <td>45</td>
    </tr>
    <tr>
      <th>41</th>
      <td>AK220054</td>
      <td>e06-</td>
      <td>Zakir Hussain College Of Engineering And Technology</td>
      <td>45</td>
    </tr>
    <tr>
      <th>42</th>
      <td>AK220417</td>
      <td>shailesh</td>
      <td>Pacific University</td>
      <td>45</td>
    </tr>
    <tr>
      <th>43</th>
      <td>AK220567</td>
      <td>rahul2</td>
      <td>BRAINWARE UNIVERSITY, KOLKATA</td>
      <td>45</td>
    </tr>
    <tr>
      <th>44</th>
      <td>AK220462</td>
      <td>kartik</td>
      <td>Uttaranchal University</td>
      <td>45</td>
    </tr>
    <tr>
      <th>45</th>
      <td>AK220450</td>
      <td>manasi8</td>
      <td>Shri Guru Gobind Singhji Institute Of Engineering And Technology, Nanded</td>
      <td>45</td>
    </tr>
    <tr>
      <th>46</th>
      <td>AK220441</td>
      <td>shubham5</td>
      <td>Shivajirao S. Jondhale College of Engineering College,</td>
      <td>45</td>
    </tr>
    <tr>
      <th>47</th>
      <td>AK220557</td>
      <td>prasad</td>
      <td>Government College of Engineering Aurangabad</td>
      <td>45</td>
    </tr>
    <tr>
      <th>48</th>
      <td>AK220098</td>
      <td>abhiram</td>
      <td>RASTRAKAVI RAMDHARI SINGH DINKAR COLLEGE OF ENGINEERING BEGUSARAI</td>
      <td>40</td>
    </tr>
    <tr>
      <th>49</th>
      <td>AK220130</td>
      <td>02</td>
      <td>PSG Institute Of Technology And Applied Research</td>
      <td>35</td>
    </tr>
    <tr>
      <th>50</th>
      <td>AK220371</td>
      <td>nikita1</td>
      <td>Chitkara University</td>
      <td>35</td>
    </tr>
    <tr>
      <th>51</th>
      <td>AK220716</td>
      <td>siddavatam_navaneeswar_reddy</td>
      <td>Christ university faculty of engineering Bangalore</td>
      <td>35</td>
    </tr>
    <tr>
      <th>52</th>
      <td>AK220212</td>
      <td>saurabh5</td>
      <td>COLLEGE OF ENGINEERING PUNE</td>
      <td>35</td>
    </tr>
    <tr>
      <th>53</th>
      <td>AK220223</td>
      <td>47</td>
      <td>Easwari engineering college</td>
      <td>35</td>
    </tr>
    <tr>
      <th>54</th>
      <td>AK220301</td>
      <td>shachi</td>
      <td>Baderia Global Institute of Engineering and Management</td>
      <td>35</td>
    </tr>
    <tr>
      <th>55</th>
      <td>AK220122</td>
      <td>er._liton</td>
      <td>Coochbehar Government Engineering College</td>
      <td>30</td>
    </tr>
    <tr>
      <th>56</th>
      <td>AK220591</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>25</td>
    </tr>
    <tr>
      <th>57</th>
      <td>AK220735</td>
      <td>rutuja_sunil</td>
      <td>shri guru gobind singh ji institute of engineering and technology,vishnupuri,nanded</td>
      <td>20</td>
    </tr>
    <tr>
      <th>58</th>
      <td>AK220151</td>
      <td>shreyansh</td>
      <td>BMS College of Engineering</td>
      <td>20</td>
    </tr>
    <tr>
      <th>59</th>
      <td>AK220527</td>
      <td>rishit</td>
      <td>Shaheed Bhagat Singh College</td>
      <td>20</td>
    </tr>
    <tr>
      <th>60</th>
      <td>AK220519</td>
      <td>raina_arjun</td>
      <td>IIM Rohtak</td>
      <td>20</td>
    </tr>
    <tr>
      <th>61</th>
      <td>AK220273</td>
      <td>pranav</td>
      <td>Bajaj Institute Of Technology</td>
      <td>20</td>
    </tr>
    <tr>
      <th>62</th>
      <td>AK220091</td>
      <td>shobhit</td>
      <td>NIT Hamirpur</td>
      <td>20</td>
    </tr>
    <tr>
      <th>63</th>
      <td>AK220497</td>
      <td>hardik_singh</td>
      <td>Chandigarh University</td>
      <td>20</td>
    </tr>
    <tr>
      <th>64</th>
      <td>AK220703</td>
      <td>sudhanshu9</td>
      <td>Chitkara University</td>
      <td>20</td>
    </tr>
    <tr>
      <th>65</th>
      <td>AK220240</td>
      <td>samarth</td>
      <td>Graphic Era Hill University</td>
      <td>20</td>
    </tr>
    <tr>
      <th>66</th>
      <td>AK220449</td>
      <td>kunal6</td>
      <td>Shri Guru Gobind SinghJi institute of engineering and technology, Nanded</td>
      <td>20</td>
    </tr>
    <tr>
      <th>67</th>
      <td>AK220140</td>
      <td>abhinav</td>
      <td>IMS engineering college</td>
      <td>20</td>
    </tr>
    <tr>
      <th>68</th>
      <td>AK220391</td>
      <td>21cs128</td>
      <td>KPR Institute of Engineering and Technology</td>
      <td>20</td>
    </tr>
    <tr>
      <th>69</th>
      <td>AK220245</td>
      <td>neeraj</td>
      <td>Eshan College Of Engineering</td>
      <td>20</td>
    </tr>
    <tr>
      <th>70</th>
      <td>AK220332</td>
      <td>kathakali</td>
      <td>Meghnad Saha Institute of Technology</td>
      <td>20</td>
    </tr>
    <tr>
      <th>71</th>
      <td>AK220092</td>
      <td>shubham9</td>
      <td>NIT HAMIRPUR (H.P.)</td>
      <td>20</td>
    </tr>
    <tr>
      <th>72</th>
      <td>AK220671</td>
      <td>kalaivanan</td>
      <td>karpagam college of engineering</td>
      <td>20</td>
    </tr>
    <tr>
      <th>73</th>
      <td>AK220718</td>
      <td>pallavi4</td>
      <td>Mukesh Patel School of technology Management and Engineering</td>
      <td>20</td>
    </tr>
    <tr>
      <th>74</th>
      <td>AK220071</td>
      <td>rama_brahmam</td>
      <td>Udaybhansinhji Regional Institute of Cooperative Management</td>
      <td>20</td>
    </tr>
    <tr>
      <th>75</th>
      <td>AK220612</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>20</td>
    </tr>
    <tr>
      <th>76</th>
      <td>AK220727</td>
      <td>srusti</td>
      <td>INDIRA GANDHI INSTITUTE OF TECHNOLOGY, SARANGA, DHENKANAL</td>
      <td>20</td>
    </tr>
    <tr>
      <th>77</th>
      <td>AK220155</td>
      <td>harsh</td>
      <td>Shaheed Bhagat Singh Evening College</td>
      <td>20</td>
    </tr>
    <tr>
      <th>78</th>
      <td>AK220145</td>
      <td>rahul</td>
      <td>Lakshmi Narain College of Technology</td>
      <td>20</td>
    </tr>
    <tr>
      <th>79</th>
      <td>AK220164</td>
      <td>ayan</td>
      <td>RCC Institute of Information Technology</td>
      <td>20</td>
    </tr>
    <tr>
      <th>80</th>
      <td>AK220073</td>
      <td>lokesh</td>
      <td>Udaybhansinhji Regional Institute of Cooperative Management</td>
      <td>20</td>
    </tr>
    <tr>
      <th>81</th>
      <td>AK220637</td>
      <td>diptimoyee</td>
      <td>University of Kalyani</td>
      <td>20</td>
    </tr>
    <tr>
      <th>82</th>
      <td>AK220639</td>
      <td>luv</td>
      <td>Ambedkar institute of technology</td>
      <td>20</td>
    </tr>
    <tr>
      <th>83</th>
      <td>AK220089</td>
      <td>heshant</td>
      <td>Government college of engineering karad</td>
      <td>15</td>
    </tr>
    <tr>
      <th>84</th>
      <td>AK220704</td>
      <td>21bce007_sachin</td>
      <td>national institution of technology hamirpur</td>
      <td>10</td>
    </tr>
    <tr>
      <th>85</th>
      <td>AK220468</td>
      <td>suryakumar</td>
      <td>Psna college of engineering technology</td>
      <td>10</td>
    </tr>
    <tr>
      <th>86</th>
      <td>AK220495</td>
      <td>harit</td>
      <td>GLA UNIVERSITY</td>
      <td>10</td>
    </tr>
    <tr>
      <th>87</th>
      <td>AK220503</td>
      <td>sujay</td>
      <td>srm university</td>
      <td>10</td>
    </tr>
    <tr>
      <th>88</th>
      <td>AK220545</td>
      <td>komal4</td>
      <td>IIM Rohtak</td>
      <td>10</td>
    </tr>
    <tr>
      <th>89</th>
      <td>AK220180</td>
      <td>deepak</td>
      <td>Datta Meghe College of Engineering</td>
      <td>10</td>
    </tr>
    <tr>
      <th>90</th>
      <td>AK220488</td>
      <td>ankit3</td>
      <td>Dr. B. R. Ambedkar National Institute of Technology, Jalandhar</td>
      <td>10</td>
    </tr>
    <tr>
      <th>91</th>
      <td>AK220490</td>
      <td>ansh0</td>
      <td>Vivekananda institute of technology jaipur</td>
      <td>10</td>
    </tr>
    <tr>
      <th>92</th>
      <td>AK220399</td>
      <td>mayuri</td>
      <td>PES college of engineering, Aurangabad</td>
      <td>10</td>
    </tr>
    <tr>
      <th>93</th>
      <td>AK220162</td>
      <td>ananya</td>
      <td>University of Petroleum and Energy Studies Dehradun</td>
      <td>10</td>
    </tr>
    <tr>
      <th>94</th>
      <td>AK220667</td>
      <td>vishal0</td>
      <td>KJ Somaiya institute of management</td>
      <td>10</td>
    </tr>
    <tr>
      <th>95</th>
      <td>AK220772</td>
      <td>20_1225_kangane_ajit</td>
      <td>Government Polytechnic Nashik</td>
      <td>10</td>
    </tr>
    <tr>
      <th>96</th>
      <td>AK220762</td>
      <td>kshitij2</td>
      <td>Arcade Business College</td>
      <td>10</td>
    </tr>
    <tr>
      <th>97</th>
      <td>AK220233</td>
      <td>akankcha</td>
      <td>Jadavpur University</td>
      <td>10</td>
    </tr>
    <tr>
      <th>98</th>
      <td>AK220194</td>
      <td>mohit8</td>
      <td>RUSTAM JI INSTITUTE OF TECHNOLOGY</td>
      <td>10</td>
    </tr>
    <tr>
      <th>99</th>
      <td>AK220072</td>
      <td>kiran</td>
      <td>Udaybhansinhji regional institute of cooperative management</td>
      <td>10</td>
    </tr>
    <tr>
      <th>100</th>
      <td>AK220387</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>10</td>
    </tr>
    <tr>
      <th>101</th>
      <td>AK220566</td>
      <td>amit</td>
      <td>NIT Agartala</td>
      <td>10</td>
    </tr>
    <tr>
      <th>102</th>
      <td>AK220335</td>
      <td>vedant_bhagat</td>
      <td>Pune Vidyarthi Griha's  College of Engineering and Technology &amp; G. K. Pate (Wani) Institute of Management, Pune</td>
      <td>10</td>
    </tr>
    <tr>
      <th>103</th>
      <td>AK220275</td>
      <td>rukum</td>
      <td>Chandigarh University</td>
      <td>10</td>
    </tr>
    <tr>
      <th>104</th>
      <td>AK220182</td>
      <td>202022</td>
      <td>R.M.D Engineering College</td>
      <td>10</td>
    </tr>
    <tr>
      <th>105</th>
      <td>AK220649</td>
      <td>dustin</td>
      <td>IIT Madras</td>
      <td>10</td>
    </tr>
    <tr>
      <th>106</th>
      <td>AK220365</td>
      <td>149_</td>
      <td>Pillai College of Engineering</td>
      <td>10</td>
    </tr>
    <tr>
      <th>107</th>
      <td>AK220611</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>10</td>
    </tr>
    <tr>
      <th>108</th>
      <td>AK220088</td>
      <td>adarsh</td>
      <td>K L Deemed to be University</td>
      <td>10</td>
    </tr>
    <tr>
      <th>109</th>
      <td>AK220720</td>
      <td>tanmay4</td>
      <td>Indian Institute of Technology Bhubaneswar</td>
      <td>10</td>
    </tr>
    <tr>
      <th>110</th>
      <td>AK220409</td>
      <td>s170824</td>
      <td>Rgukt iiit srikakulam</td>
      <td>10</td>
    </tr>
    <tr>
      <th>111</th>
      <td>AK220542</td>
      <td>aayush</td>
      <td>Satyawati(E) College, University of Delhi</td>
      <td>10</td>
    </tr>
    <tr>
      <th>112</th>
      <td>AK220128</td>
      <td>komal</td>
      <td>Mauli Group Of Institution College of Engineering and Technology Shegaon</td>
      <td>10</td>
    </tr>
    <tr>
      <th>113</th>
      <td>AK220563</td>
      <td>rideema</td>
      <td>Pet Oxford Junior College of Science and Commerce</td>
      <td>10</td>
    </tr>
    <tr>
      <th>114</th>
      <td>AK220423</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>10</td>
    </tr>
    <tr>
      <th>115</th>
      <td>AK220539</td>
      <td>param</td>
      <td>Amity University</td>
      <td>10</td>
    </tr>
    <tr>
      <th>116</th>
      <td>AK220777</td>
      <td>priya8</td>
      <td>Rajkiya Engineering College Ambedkar Nagar Uttar Pradesh</td>
      <td>10</td>
    </tr>
    <tr>
      <th>117</th>
      <td>AK220518</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>10</td>
    </tr>
    <tr>
      <th>118</th>
      <td>AK220517</td>
      <td>aryan</td>
      <td>National Institute of technology patna</td>
      <td>10</td>
    </tr>
    <tr>
      <th>119</th>
      <td>AK220521</td>
      <td>harman_pal_singh</td>
      <td>Graphic era deemed to be University</td>
      <td>10</td>
    </tr>
    <tr>
      <th>120</th>
      <td>AK220504</td>
      <td>dhruv4</td>
      <td>Gl bajaj Institute of management and research</td>
      <td>10</td>
    </tr>
    <tr>
      <th>121</th>
      <td>AK220738</td>
      <td>21bce005</td>
      <td>NIT Hamirpur</td>
      <td>10</td>
    </tr>
    <tr>
      <th>122</th>
      <td>AK220148</td>
      <td>abhinav4</td>
      <td>JSS Academy of Techincal Education</td>
      <td>10</td>
    </tr>
    <tr>
      <th>123</th>
      <td>AK220376</td>
      <td>tejas</td>
      <td>Walchand institute of technology,Solapur</td>
      <td>10</td>
    </tr>
    <tr>
      <th>124</th>
      <td>AK220418</td>
      <td>gaurav8</td>
      <td>Clavictor Academy NIT Rourkela</td>
      <td>5</td>
    </tr>
    <tr>
      <th>125</th>
      <td>AK220211</td>
      <td>dristan</td>
      <td>Gauhati University</td>
      <td>5</td>
    </tr>
    <tr>
      <th>126</th>
      <td>AK220187</td>
      <td>aneesha</td>
      <td>Vishwakarma Institute Of Information Technology</td>
      <td>5</td>
    </tr>
    <tr>
      <th>127</th>
      <td>AK220444</td>
      <td>apurwa</td>
      <td>Kiet group of Institutions</td>
      <td>5</td>
    </tr>
    <tr>
      <th>128</th>
      <td>AK220067</td>
      <td>yuvraj</td>
      <td>VJTI MUMBAI</td>
      <td>5</td>
    </tr>
    <tr>
      <th>129</th>
      <td>AK220150</td>
      <td>ritik</td>
      <td>JSS ACADEMY OF TECHNICAL EDUCATION BENGALURU</td>
      <td>5</td>
    </tr>
    <tr>
      <th>130</th>
      <td>AK220501</td>
      <td>manohar</td>
      <td>IPS college of technology and management</td>
      <td>5</td>
    </tr>
    <tr>
      <th>131</th>
      <td>AK220384</td>
      <td>kashish</td>
      <td>Kcri college</td>
      <td>0</td>
    </tr>
    <tr>
      <th>132</th>
      <td>AK220434</td>
      <td>gurukiran</td>
      <td>Sri venkateshwara college of engineering</td>
      <td>0</td>
    </tr>
    <tr>
      <th>133</th>
      <td>AK220658</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>134</th>
      <td>AK220398</td>
      <td>ritusree</td>
      <td>Brainware University</td>
      <td>0</td>
    </tr>
    <tr>
      <th>135</th>
      <td>AK220355</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>136</th>
      <td>AK220429</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>137</th>
      <td>AK220392</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>138</th>
      <td>AK220372</td>
      <td>sonam</td>
      <td>ITM GIDA GORKHAPUR</td>
      <td>0</td>
    </tr>
    <tr>
      <th>139</th>
      <td>AK220414</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>140</th>
      <td>AK220381</td>
      <td>devender</td>
      <td>Khwaja Moinuddin Chishti Language University Lucknow</td>
      <td>0</td>
    </tr>
    <tr>
      <th>141</th>
      <td>AK220663</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>142</th>
      <td>AK220793</td>
      <td>akash26</td>
      <td>islamic university of science and technology</td>
      <td>0</td>
    </tr>
    <tr>
      <th>143</th>
      <td>AK220382</td>
      <td>rashmi</td>
      <td>NMKRV COLLEGE FOR WOMEN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>144</th>
      <td>AK220532</td>
      <td>garushi</td>
      <td>Neelkanth Institute of technology</td>
      <td>0</td>
    </tr>
    <tr>
      <th>145</th>
      <td>AK220692</td>
      <td>arshad</td>
      <td>Radharaman Institute of technology and Science</td>
      <td>0</td>
    </tr>
    <tr>
      <th>146</th>
      <td>AK220377</td>
      <td>anurag</td>
      <td>Sister Nivedita University</td>
      <td>0</td>
    </tr>
    <tr>
      <th>147</th>
      <td>AK220698</td>
      <td>mithin</td>
      <td>Paavai Engineering college</td>
      <td>0</td>
    </tr>
    <tr>
      <th>148</th>
      <td>AK220137</td>
      <td>imran</td>
      <td>Rimt</td>
      <td>0</td>
    </tr>
    <tr>
      <th>149</th>
      <td>AK220117</td>
      <td>engineer</td>
      <td>Supaul college of engineering, supaul</td>
      <td>0</td>
    </tr>
    <tr>
      <th>150</th>
      <td>AK220505</td>
      <td>kavya2</td>
      <td>ISTS</td>
      <td>0</td>
    </tr>
    <tr>
      <th>151</th>
      <td>AK220181</td>
      <td>vrushali</td>
      <td>KTHM COLLEGE OF NASHIK</td>
      <td>0</td>
    </tr>
    <tr>
      <th>152</th>
      <td>AK220407</td>
      <td>debanjan</td>
      <td>Guru Nanak Institute of Technology</td>
      <td>0</td>
    </tr>
    <tr>
      <th>153</th>
      <td>AK220428</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>154</th>
      <td>AK220456</td>
      <td>hotwani_vishal</td>
      <td>IIIT Vadodara, Gandhinagar campus</td>
      <td>0</td>
    </tr>
    <tr>
      <th>155</th>
      <td>AK220634</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>156</th>
      <td>AK220270</td>
      <td>sy_b_43_rohit</td>
      <td>VIIT</td>
      <td>0</td>
    </tr>
    <tr>
      <th>157</th>
      <td>AK220552</td>
      <td>sharif_md._mahir_mosleh</td>
      <td>Islamic University of Technology</td>
      <td>0</td>
    </tr>
    <tr>
      <th>158</th>
      <td>AK220766</td>
      <td>mohamed</td>
      <td>CMS college of engineering and technology</td>
      <td>0</td>
    </tr>
    <tr>
      <th>159</th>
      <td>AK220195</td>
      <td>pratik0</td>
      <td>Purnea college of engineering</td>
      <td>0</td>
    </tr>
    <tr>
      <th>160</th>
      <td>AK220756</td>
      <td>abhijeet</td>
      <td>DELHI UNIVERSITY, MOTILAL NEHRU COLLEGE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>161</th>
      <td>AK220689</td>
      <td>keshav</td>
      <td>Takshshila Institute of Engineering and Technology</td>
      <td>0</td>
    </tr>
    <tr>
      <th>162</th>
      <td>AK220652</td>
      <td>varun</td>
      <td>Suresh Gyan vihar University Jaipur Rajasthan</td>
      <td>0</td>
    </tr>
    <tr>
      <th>163</th>
      <td>AK220440</td>
      <td>praval</td>
      <td>Dayalbagh Educational Institute</td>
      <td>0</td>
    </tr>
    <tr>
      <th>164</th>
      <td>AK220426</td>
      <td>ankit9</td>
      <td>Samrat Ashok Technological Institute</td>
      <td>0</td>
    </tr>
    <tr>
      <th>165</th>
      <td>AK220451</td>
      <td>anil8</td>
      <td>IES COLLEGE OF TECHNOLOGY BHOPAL MADHYA PRADESH</td>
      <td>0</td>
    </tr>
    <tr>
      <th>166</th>
      <td>AK220154</td>
      <td>nitin</td>
      <td>Shri Ram Group Of colleges</td>
      <td>0</td>
    </tr>
    <tr>
      <th>167</th>
      <td>AK220461</td>
      <td>gade_pavan</td>
      <td>Pragati Engineering College</td>
      <td>0</td>
    </tr>
    <tr>
      <th>168</th>
      <td>AK220431</td>
      <td>vaishnavi8</td>
      <td>Isb&amp;m college of engineering</td>
      <td>0</td>
    </tr>
    <tr>
      <th>169</th>
      <td>AK220475</td>
      <td>om4</td>
      <td>jabalpur enginnering college</td>
      <td>0</td>
    </tr>
    <tr>
      <th>170</th>
      <td>AK220477</td>
      <td>raman</td>
      <td>SR GROUP OF INSTITUTIONS JHANSI</td>
      <td>0</td>
    </tr>
    <tr>
      <th>171</th>
      <td>AK220479</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>172</th>
      <td>AK220485</td>
      <td>pratiksha</td>
      <td>Chh. Shahu Institute Of Business Education &amp;Research, Kolhapur</td>
      <td>0</td>
    </tr>
    <tr>
      <th>173</th>
      <td>AK220511</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>174</th>
      <td>AK220512</td>
      <td>nithya</td>
      <td>AMITY UNIVERSITY, NOIDA</td>
      <td>0</td>
    </tr>
    <tr>
      <th>175</th>
      <td>AK220540</td>
      <td>guna</td>
      <td>Paavai engineering college</td>
      <td>0</td>
    </tr>
    <tr>
      <th>176</th>
      <td>AK220523</td>
      <td>vishva</td>
      <td>PAAVAI ENGINEERING COLLEGE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>177</th>
      <td>AK220262</td>
      <td>dk</td>
      <td>AARUPADAI VEEDU INSTITUTE OF TECHNOLOGY,CHENNAI</td>
      <td>0</td>
    </tr>
    <tr>
      <th>178</th>
      <td>AK220571</td>
      <td>bob</td>
      <td>Institute of Technology and Science,Ghaziabad</td>
      <td>0</td>
    </tr>
    <tr>
      <th>179</th>
      <td>AK220362</td>
      <td>not found name</td>
      <td>not found colg</td>
      <td>0</td>
    </tr>
    <tr>
      <th>180</th>
      <td>AK220538</td>
      <td>ahsanul</td>
      <td>Radharaman Engineering college</td>
      <td>0</td>
    </tr>
  </tbody>
</table>